:root {
  --white: #f5f5f5;
  --gray_0: #cccacb;
  --green: #a9b8bd;
  --blue: #88a3ae;
  --gray_1: #78868f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-div {
  section {
    max-width: 1024px;
    margin: 0 auto;
  }
}
